In [1]:
import os
import pickle

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [25]:
results_files = []
experiment_path = '../experiments/oversample/language_label/'
for (dirpath, dirnames, filenames) in os.walk(experiment_path):
    files = [os.path.join(dirpath, file) for file in filenames]
    results_files.extend(files)
    

results_files = [f for f in results_files if 'results' in f]

In [26]:
configs_files

['../experiments/oversample/language_label/beerslaw/simplestates/ts_attention/binconcepts/2022_06_02_0/config.yaml']

In [21]:
with open(results_files[0], 'rb') as fp:
    results = pickle.load(fp)

In [23]:
results[0].keys()

dict_keys(['train_index', 'test_index', 'oversample_indexes', 'x_resampled', 'y_resampled', 'x_resampled_train', 'y_resampled_train', 'x_resampled_val', 'y_resampled_val', 'best_params', 'y_pred', 'y_proba', 'accuracy', 'balanced_accuracy', 'precision', 'recall', 'roc'])

In [24]:
results.keys()

dict_keys(['x', 'y', 'demographics', 'optim_scoring', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [1]:
import random

In [13]:
def shuffle(sequence):
    chunks_breaking_points = range(3, len(sequence), 3)
    chunks = []
    curr_breaking_point = 0
    for bp in chunks_breaking_points[:-1]:
        chunks.append([sequence[i] for i in range(curr_breaking_point, bp)])
        curr_breaking_point = bp
    chunks.append([s for s in sequence[bp:]])
    random.shuffle(chunks)
    new_sequence = []
    for chunk in chunks:
        new_sequence = new_sequence + chunk

    return new_sequence

In [14]:
sequence = [
    1, 2, 3,
    4, 5, 6,
    7, 8, 9
]

In [27]:
shuffle(sequence)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
sequence = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [7, 8, 9],
    [7, 8, 9]
]

In [15]:
a = pd.DataFrame(sequence)

In [4]:
a

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
a = a.style.applymap(lambda x: "background-color: red" if x>0 else "background-color: white")

In [12]:
a.to_excel('test.xlsx')

In [9]:
a

In [16]:
new = pd.DataFrame()
for attribute, group in a.groupby(0):
    print(attribute)
    display(group)

1

   0  1  2
0  1  2  3

4

   0  1  2
1  4  5  6

7

   0  1  2
2  7  8  9
3  7  8  9
4  7  8  9