In [1]:
import os
import pickle

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [25]:
results_files = []
experiment_path = '../experiments/oversample/language_label/'
for (dirpath, dirnames, filenames) in os.walk(experiment_path):
    files = [os.path.join(dirpath, file) for file in filenames]
    results_files.extend(files)
    

results_files = [f for f in results_files if 'results' in f]

In [26]:
configs_files

['../experiments/oversample/language_label/beerslaw/simplestates/ts_attention/binconcepts/2022_06_02_0/config.yaml']

In [21]:
with open(results_files[0], 'rb') as fp:
    results = pickle.load(fp)

In [23]:
results[0].keys()

dict_keys(['train_index', 'test_index', 'oversample_indexes', 'x_resampled', 'y_resampled', 'x_resampled_train', 'y_resampled_train', 'x_resampled_val', 'y_resampled_val', 'best_params', 'y_pred', 'y_proba', 'accuracy', 'balanced_accuracy', 'precision', 'recall', 'roc'])

In [24]:
results.keys()

dict_keys(['x', 'y', 'demographics', 'optim_scoring', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [1]:
import random

In [13]:
def shuffle(sequence):
    chunks_breaking_points = range(3, len(sequence), 3)
    chunks = []
    curr_breaking_point = 0
    for bp in chunks_breaking_points[:-1]:
        chunks.append([sequence[i] for i in range(curr_breaking_point, bp)])
        curr_breaking_point = bp
    chunks.append([s for s in sequence[bp:]])
    random.shuffle(chunks)
    new_sequence = []
    for chunk in chunks:
        new_sequence = new_sequence + chunk

    return new_sequence

In [60]:
sequence = [
    1, 2, 3,
    4, 5, 6,
    7, 8, 9
]

In [27]:
shuffle(sequence)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
sequence = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [7, 8, 9],
    [7, 8, 9]
]

In [62]:
a = pd.DataFrame(sequence)

In [52]:
a

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
3  7  8  9
4  7  8  9

In [53]:
a = a.style.apply(lambda row: ["background-color: red" if r == 1 else "background-color: white" for r in row ] if row[0]>0 else "background-color: white", axis=1)

In [55]:
a

In [58]:
a.concat(a)

AttributeError: 'Styler' object has no attribute 'concat'

In [12]:
a.to_excel('test.xlsx')

In [21]:
a

ValueError: Function <function <lambda> at 0x7fd480bcc310> returned the wrong shape.
Result has shape: (3,)
Expected shape:   (5, 3)

In [68]:
new = pd.DataFrame()
c = {} 
for attribute, group in a.groupby(0):
    print(attribute)
#     display(group)
    new = new.append(group, ignore_index=True)
    hello = group.style.apply(lambda row: ["background-color: red" if r == 1 else "background-color: white" for r in row ] if row[0]>0 else "background-color: white", axis=1)
    c[attribute] = hello
    display(hello)

1

4

7

In [69]:
c[1]